.box {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.header-align{
    margin-bottom: 20px;
}

.button{
    margin-bottom: 20px;
}

header{
    background-color: #808080;
    color: #fff;
    height: 100%;
}

.container-fluid{
    background-color: #232323;
    padding: 13px;
    background-size: cover;
    background-position: center center;
}

#color {
    font-size: 60px;
}

p{
    font-size: 30px;
}